doctype html
html(lang="en")
  head
    title= title
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js')
  body
    h1= title
    h2.rolekeeper(data-role="booker")= "Need to see " + schedule.name + "?"

    h3.appointments-header(data-schedule=schedule.manageId)= "Book an appointment slot:"
    ul.appointments
      each val in schedule.appointments
        li.appointment(data-id=val.id, data-taken=val.taken)
          span= val.startmoment.format('MMM D') + ' - ' + val.notes
          br
          span= 'Starting ' + val.startmoment.format('h:mm a')
          br
          span= 'Ending ' + val.endmoment.format('h:mm a')
          br
          if val.taken
            span= 'Not Available'
          else
            button.book-appointment(type='submit' data-id=val.id)= "Book"

    script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/application.js')